<h1>Post#post_created</h1>

<%= @user.email %> create <%= @post.title %>

<%= image_tag attachments['logo1.png'].url %>
<br>  

<p>
  <%= @greeting %>, find me in app/views/post_mailer/post_created.html.erb
</p>
