<h1>Editing messagemail</h1>

<%= render "form", messagemail: @messagemail %>

<br>

<div>
  <%= link_to "Show this messagemail", @messagemail %> |
  <%= link_to "Back to messagemails", messagemails_path %>
</div>
