    <div class="bloc-entete-model">
      <div class="entete-show">
        <strong>Prévisualisation du mail</strong> 
      </div>
      <div class="bloc-record">
        <strong>Client lié</strong> <%= params[:clientId] %> <br>
        <strong>Commande liée</strong>
      </div>
    </div>

<%= render "form", messagemail: @messagemail %>

<br>

<div>
  <%#= link_to "Back to messagemails", messagemails_path %>
</div>
