<div id="<%= dom_id friend %>">
  <p>
    <strong>Name:</strong>
    <%= friend.name %>
  </p>

  <p>
    <strong>Mail:</strong>
    <%= friend.mail %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= friend.age %>
  </p>

</div>
