<p style="color: green"><%= notice %></p>

<h1>Friends</h1>

<div id="friends">
  <%= render @friends %>
</div>

<%#= link_to "New friend", new_friend_path %>

<%= turbo_frame_tag :pagination, loading: :lazy, src: friends_path(format: :turbo_stream) %>