
<% if @commandeId.present? %>
  <% clientId = Commande.find(@commandeId).client_id %>
  <div class="card border-dark mb-3">
    <div class="card-header bg-black text-center">
      <strong>Commande</strong> 
    </div>

    <div class="card-body">
      <div class="row">
        <div class="col">
          <div class="shadow p-1 mb-1 bg-body rounded text-dark text-center">
            <%= Commande.find(@commandeId).full_name %>
          </div>
        </div>
        <div class="col">
          <div class="shadow p-1 mb-1 bg-body rounded text-dark text-center">
            <%= Client.find(clientId).full_name %>
          </div>
        </div>
        <div class="col">
          <div class="shadow p-1 mb-1 bg-body rounded text-dark text-center">
            <%= Commande.find(@commandeId).created_at %>
          </div>
        </div>
      </div>
    </div>

  </div>   
 <% end %>
  