
<% if @commandeId.present? %>
  <div class="card mb-3 m-0 p-0">
    <div class="card-header bg-black text-center p-1 m-0">
      <strong>Commande</strong> 
    </div>
    <div class="card-body p-0 m-0">
      <div class="shadow p-1 mb-1 bg-body rounded text-dark text-center">
        <%= Commande.find(@commandeId).texte_record %>
      </div>
    </div>
  </div>   
 <% end %>
  

  