<div class="col border border shadow rounded m-1 p-1"> 
  <div class="row g-0">
    <div class="col-md-4">
      <%= image_tag(Produit.find(@produitId).default_image, 
            style:"width: 100px;", class:"img-fluid rounded-start bg-white") %> 
    </div>
    <div class="col-md-8">
      <div class="card-body text-dark">
        <h5 class="card-title">
          <%= Produit.find(@produitId).nom %> 
        </h5>
        <p class="card-text text-dark">
          <%= Produit.find(@produitId).description %>
        </p>
        <p class="card-text text-dark"><small class="text-muted"> 
          <%= Produit.find(@produitId).categorie %></small>
        </p>
      </div>
    </div>
  </div>
</div>