
<div class="bloc-entete-model">
  <div class="card card-header entete-index">
      <strong>Editer article</strong> 
  </div>

  <% @commandeId = params[:commandeId] %>
  <% @produitId = params[:produitId] %>
  <% @articleId = params[:articleId] %>

  <%= render "infosCommande" %>

</div>

<div class="list-long-blocs-article">
  <%= render "form", article: @article %>

  <%= render "sousarticles/sousarticlesLiesBis" %>


</div>