
<h3 class="my-2", style="font-family: Arial;">EDITER ARTICLE</h3>

<%= render "infosCommande" %>
<%= render "form", article: @article %>

<div class="mx-2"> 
  <%= render "sousarticles/sousarticlesLiesBis" %>
</div>
