
<div class="bloc-entete-model">
  <div class="card card-header entete-index">
      <strong>Editer article</strong> 
  </div>

  <% @commandeId = params[:commandeId] %>
  <% @produitId = params[:produitId] %>
  <% @articleId = params[:articleId] %>

  <%= render "infosCommande" %>

   <%#= render @commande %>

</div>

<div class="list-long-blocs-article">

  <%= render "form", article: @article %>

<div class="bloc-entete-model">
    <div class="card card-header entete-index">
      <strong>Sous-articles</strong> 
    </div>
 </div>
 
 
  <%= render "sousarticles/sousarticlesLiesBis" %>

  <div class="card card-footer footer-index">
    <div class="row m-1 mb-2 p-0">   
      <div class="col-9">
        item1
        item2
        item3
      </div>
      <div class="col-3 m-0 p-0">
        <div class="position-relative">
          <div class="position-absolute end-0">
            <%= link_to "Valider", commande_path(@commandeId), class:"btn btn-sm btn-success p- m-0" %> 
          </div>
        </div>
      </div>
    </div>
  </div> 

</div>