  
<div class="m-4">
  <h1>Nouvel article</h1>
</div>

<div class="card mx-4">
  <%= render "infosCommande" %>
</div>

<%= render "search" %>

  <%# liste des produits pour selection %>
  <% unless @produitId.present? %> 
    <%= render "listeSelection" %>
  <% end %>

<div class="mx-4">
  <%= render "form", article: @article %>
</div>

<div>
  <% @commandeId = session[:commandeId] %>
</div>

<div class="m-0"> 
  <%#= link_to "Retour", commande_path(@commandeId), 
      class:"btn btn-sm btn-secondary" %>
</div>
