
<% if user_signed_in? %>

    <div class="bloc-entete-model">
      <div class="card card-header entete-index">
        <strong>PRODUIT</strong> 
      </div>
    </div>

    <div class="">
      <%= render "details" %>
      <%= render "stock" %>
    </div>
    
     

      <%#= render "produits/etiquette" %>

    <div class="fixed-bottom footer-index bg-dark">
      <div class="col text-end">

        <%= link_to "", produit_path(format: :pdf), class:"fa-solid fa-file-export btn btn-sm btn-primary" %> 
      </div>
    </div>
  


<% end %>