<div class="bloc-entete-model sticky-top" style="top: 5px; bottom: 0px;">
  <div class="card card-header entete-index">
    <strong>Produit</strong> 
  </div>
</div>

<%= render "details" %>
<%= render "stock" %>
