
<div id="<%= dom_id commande %>">
  <% clientId = Commande.find(commande.id).client_id %>
  <div class="bloc-record">
    <div class="row">
      
      <div class="col-10 text-dark">
        <%= Commande.find(commande.id).texte_record %>
      </div>
      <div class="col-2">
     <ul>
      <li>
      <%= button_to '', commande_path(commande), 
             class:"fa-regular fa-folder-open btn btn-sm btn-primary" %> 
      </li>
     <li>
             
        <%= button_to '', edit_commande_path(commande), 
             class:"fa-regular fa-pen-to-square btn btn-sm btn-secondary", method: :post %> 
     
     </li>
     </ul>

      </div> 
  
    </div>
  </div>
</div>