
<div style="color: black;">

    <%#= Commande.find(@commande.id).texte_record %> <br>

    <strong>Evénement </strong> 
    <%= Commande.find(@commande.id).info_evenement %> <br>

    <strong>Servi par </strong> 
    <%= Profile.find(@commande.profile_id).full_name %> <br>
    <br>

</div>   
