
<hr>    
<h5 class="h5-doc"> SYNTHESE </h5>

<div class="cadre">
    solde Prix <%= number_to_currency(solde_prix(@commande), locale: :fr) %> <br> 
    solde Caution <%= number_to_currency(solde_caution(@commande), locale: :fr) %>
</div>

    <div class="bloc-mention my-2">
        Toute réservation est définitive. En cas d'annulation, un avoir pourra être émis. <br>
        Pour tout retard de restitution de location, une somme forfaitaire de 15€/jour pourra être perçue.
    </div>
