
<div class="cadre">

    <span>Evénement</span> 
    <span class="doc-important"> <%= Commande.find(@commande.id).info_evenement %> </span> <br>
    <br>

    <span>Servi par </span> 
    <span class="doc-important"> <%= Profile.find(@commande.profile_id).full_name %> </span> <br>
    <br>

</div>   
