
<% clientId = Commande.find(@commande.id).client_id %>
  
<div style="color: black;">

    <strong>Commande</strong> 
        <%= Commande.find(@commande.id).texte_record %> 
        <%= Commande.find(@commande.id).info_evenement %> 
        <br> <br>

    <strong>Client</strong> 
        <%= Client.find(clientId).text_record %> 
        <br> <br>

  </div>   

  