   
      <% duPrix = Article.commande_courante(@commande).sum_articles + 
                Article.joins(:sousarticles).commande_courante(@commande).sum_sousarticles %> 

      <% recuPrix = Paiement.commande_courante(@commande).sum_paiements %> 
      <% soldePrix = duPrix - recuPrix %>
       
      <% if soldePrix > 0 %>
        <div class="with-shadow text-center text-white bg-danger">
          <%= "Attention, la commande n'a pas été réglée en totalité" %>
           restant prix: <%= soldePrix %> <br> 
        </div>
      <% else %>
        <div class="with-shadow text-center text-white bg-success">
          <%= "Tout est bon !" %>
        </div>
      <% end %>
   
