
<div class="m-4">
  <h3 class="my-2"> Commandes </h3> 
  <span id="commande_counter">
    nombre: <%= Commande.count %>
  </span> <br>  
  
  <div class="mb-1">
    <%= render "search" %>
  </div>

   <div data-controller="nouveau", class="mx-auto">
      <div role="button" data-action="click->nouveau#openNouveau" data-nouveau-target="openNouveau", class="btn btn-sm btn-success", style="inline;">
        Nouvelle commande
      </div>
      <div role="button" data-action="click->nouveau#closeNouveau" data-nouveau-target="closeNouveau", class="btn btn-sm btn-danger", style="inline;">
        Fermer nouveau
      </div>
      <hr>
      <div id="new_commande">
        <div data-nouveau-target="nouveauContent">
          <%= render partial: "commandes/form", locals: {commande: Commande.new} %>
        </div>
      </div>
  </div>
</div>

<div class="card text-light p-1 m-4">
  <div class="card-header bg-light text-start p-1 m-2"> 
    <div id="commandes">
      <%#= render "liste" %>
      <%= render @commandes %>
    </div>
  </div>
</div>

<%#= link_to "commandes PDF", commandes_path(format: :pdf), class:"btn btn-warning" %>


