
<div class="bloc-entete-model">
  <div class="card card-header entete-index">
    <div class="row m-0 p-0">
      <div class="col ms-1">
        <strong>Commandes</strong> 
      </div>
      <div class="col">
        <span id="commande_counter" class="position-absolute top-0 start-100 
            translate-middle badge rounded-pill bg-warning text-dark">
          <%= Commande.count %>
        </span>
      </div>
    </div>
  </div> 
  
  <div class="mb-1">
    <%= render "search" %>
  </div>
</div>
  
<div class="list-records-item">
   <div data-controller="nouveau">
     <div role="button" data-action="click->nouveau#openNouveau" 
          data-nouveau-target="openNouveau", class="btn btn-sm btn-success", style="inline;">
            Nouveau
     </div>
     <div role="button" data-action="click->nouveau#closeNouveau" 
          data-nouveau-target="closeNouveau", class="btn btn-sm btn-danger", style="inline;">
            Fermer nouveau
     </div>

      <div id="new_commande">
        <div data-nouveau-target="nouveauContent">
            <%= render partial: "commandes/form", locals: {commande: Commande.new} %>
        </div>
      </div>

      <div id="commandes">
        <%= render @commandes %>
      </div>
    </div>
</div> 





