<!DOCTYPE html> 
  <div class="text-center" style="width: 710px; display: inline-block;"> 
    <%= wicked_pdf_image_tag 'logo1.png' %>
    
    <%= wicked_pdf_image_tag asset_url('/logo1.png') %>
  </div>

  <hr>

