
  <div class="text-center" style="width: 220px; display: inline-block;"> 
    <strong style="color: rgb(204, 46, 102)"> Contact </strong>
  </div>
  <div class="text-center"  style="width: 440px; display: inline-block;"> 
    <%= image_tag asset_url('/images/logo1.png'), style: "width: 440px;", class: "img-fluid rounded", id:"imgLogoIf1" %> 
  </div>
  <div class="text-center" style="width: 220px; display: inline-block;">
    <strong style="color: rgb(204, 46, 102)"> Contact </strong>
  </div>

  <hr>
