<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <%= wicked_pdf_stylesheet_link_tag "application" %>

    <hr> 
    
    <div style="color: rgb(204, 46, 102); width: 900px; display: inline-block; text-align: center;">
        27, 29 Boulevard Carnot 06400 CANNES <br>
        Tél : 04 93 45 17 17 - 06 82 13 55 43 | Message : contact@a1soir.com
    </div>

</html>