
  <div class="bloc-entete-model">
    <div class="card card-header bg-dark text-white p-0 m-0">

      <div class="row m-0 p-0">
        <div class="col ms-1">
          <strong>Clients</strong> 
        </div>
        <div class="col">
            <span id="client_counter" class="position-absolute top-0 start-100 
                translate-middle badge rounded-pill bg-warning text-dark">
              <%= Client.count %>
            </span>
        </div>
      </div>
  </div> 

  <div class="mb-1">
    <%= render "search" %>
  </div>
</div>

 <div class="m-2">
      <div data-controller="nouveau">
        <div role="button" data-action="click->nouveau#openNouveau" data-nouveau-target="openNouveau", class="btn btn-sm btn-success", style="inline;">
          Nouveau client
        </div>
        <div role="button" data-action="click->nouveau#closeNouveau" data-nouveau-target="closeNouveau", class="btn btn-sm btn-danger", style="inline;">
          Fermer nouveau
        </div>
        
        <div id="new_client">
          <div data-nouveau-target="nouveauContent">
  
              <%= render partial: "clients/form", locals: {client: Client.new} %>
          </div>
        </div>
    </div>
   </div>

<div class="overflow-auto me-3 mb-1" style="height: 76vh">
  <div id="clients">
    <%= render @clients %>
  </div>
</div>
  