<div class="m-4">

  <div class="rounded with-shadow p-0 mb-2">
    <div class="card card-header bg-dark text-white p-0 m-0">

      <div class="row p-0">
        <div class="col ms-4">
          <strong>Clients</strong> 
        </div>
        <div class="col">
            <span id="client_counter" class="position-absolute top-0 start-100 
                translate-middle badge rounded-pill bg-warning text-dark">
              <%= Client.count %>
            </span>
        </div>
      </div>
  </div> 

  <div class="mb-1">
    <%= render "search" %>
  </div>
</div>



      <div data-controller="nouveau", class="mx-auto" style="max-width: 36rem;">
        <div role="button" data-action="click->nouveau#openNouveau" data-nouveau-target="openNouveau", class="btn btn-sm btn-success", style="inline;">
          Nouveau client
        </div>
        <div role="button" data-action="click->nouveau#closeNouveau" data-nouveau-target="closeNouveau", class="btn btn-sm btn-danger", style="inline;">
          Fermer nouveau
        </div>
        
        <div id="new_client">
          <div data-nouveau-target="nouveauContent">
            <div class="card rounded mt-4 px-4 py-4"> 
              <%= render partial: "clients/form", locals: {client: Client.new} %>
            </div>
          </div>
        </div>
    </div>
   </div>
   
  <div class="card text-light p-1 m-4">
    <div class="card-header bg-light text-start p-1 m-2"> 
      <div id="clients">
        <%= render @clients %>
      </div>
    </div>
  </div>
