
<div class="container-fluid m-0 p-0 mt-2 container-dashboard">
  <div class="list-long-blocs-commande">

    <div class="entete-show">
      <strong>Client</strong> 
    </div>
      <%= render @client %> 

      <%= link_to "Nouvelle commande", new_commande_path(clientId: @client), 
            class:"btn btn-sm btn-primary mb-2" %>

    <div class="entete-show">
      <strong>Commandes</strong> 
    </div>

      <%= render @commandes %>

  </div>

</div>