
<%= render @client %>

<div>
 <%= link_to "Nouvelle commande", new_commande_path(clientId: @client), 
      class:"btn btn-sm btn-primary" %>
 
 <hr>
  <%= link_to "Retour", clients_path, class:"btn btn-sm btn-secondary" %>
</div>
