<% if user_signed_in? %>

  <div class="bloc-entete-model">
    <div class="entete-show">
      <strong>Client</strong> 
    </div>
  </div>

    <%= render @client %> 

  <div class="text-end">
    <%= link_to "Nouvelle commande", toggle_commande_client_commande_path(clientId: @client), 
          class:"btn btn-sm btn-success mb-2" %>
  </div>

    <% if Commande.client_courant(@client).present? %>
      <div class="entete-show">
        <strong>Commandes</strong> 
      </div>
      <%= render @commandes %>
    <% end %>

<% end %>