
<style>
  * {
     margin: 0;
     padding: 0;
     font-family: sans-serif;
    }  
    .chartMenu p {
      padding: 10px;
      font-size: 20px;
    }
    .chartCard {
      width: 30%;
     /* background: rgba(255, 26, 104, 0.2);*/
     /* display: flex; */
      align-items: center;
      justify-content: center;
    }
    .chartBox {
      width: 100;
      padding: 20px;
      margin: 10px;
      border-radius: 20px;
      border: solid 2px rgba(50, 50, 50, 1);
      background: white;
    }
</style>

<div class="chartCard">
  <div class="chartBox">
    <canvas id="myChartPie"></canvas>
  </div>
  <div class="chartBox">
    <canvas id="myChartLine"></canvas>
  </div>
  <div class="chartBox">
    <canvas id="myChartBar"></canvas>
  </div>
</div>

  <% @nbTotal =  Commande.count %>
  <% @nbRetire = Commande.retire.count %>
  <% @nbNonRetire = Commande.non_retire.count %>
  <% @nbRendu = Commande.rendu.count %>

  <% @data = [@nbRetire, @nbNonRetire, @nbRendu] %>
  <% @dataLine = [@nbRetire, @nbNonRetire, @nbRendu] %>

<script>
   
  var couleur1 = 'rgb(224, 20, 76)';
  var couleur2 = 'rgb(239, 154, 83)';
  var couleur3 = 'rgb(84, 180, 53)';

  var data1 = <%= @dataLine %>;
  var data2 = <%= @dataLine %>;

  var nbTotal = <%= @nbTotal %>;
  
  const centerTextDoghnut = {
    id: 'centerTextDoghnut',
    afterDatasetsDraw(chart, args, pluginOptions){
      const { ctx } = chart;
      ctx.textAlign = "center";
      ctx.textBaseline = "middle";
      ctx.font = "bold 12px sans-serif";
      const text = "total " + nbTotal ;
      const textWidth = ctx.measureText(text).width;
      const x = chart.getDatasetMeta(0).data[0].x;
      const y = chart.getDatasetMeta(0).data[0].y;
      ctx.fillText(text, x, y);
    }
  }

  const ctx = document.getElementById('myChartPie').getContext('2d');
  const myChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
      labels: ['Retiré', 'Non-retiré', 'Rendu'],
      datasets: [{
        data: <%= @data.to_json.html_safe %>,       
         backgroundColor: [ couleur1, couleur2, couleur3 ],
        hoverOffset: 40,
        borderWidth: 1,
        cutout: '50%'
      }]
    },
    options: {
      animation: {
        animateRotate: true,
        duration: 5000
      },
      plugins: {
        legend: {
          display: true,
          position: 'right',
        },
      },

     },
     plugins: [centerTextDoghnut]
  });

    const myChartPie = new Chart(
      document.getElementById('myChartPie'),
      config
    );




</script>