<h1>Editer modèle sous-article</h1>

<%= render "form", modelsousarticle: @modelsousarticle %>

<br>

<div>
  <%= link_to "Afficher", @modelsousarticle, class:"btn btn-sm btn-primary"  %> |
  <%= link_to "Retour", modelsousarticles_path, class:"btn btn-sm btn-secondary" %>
</div>
