 
<div class="card text-dark">
  <div class="card-header bg-black text-center"> 
    <strong>Sous-articles</strong> 
  </div>
  <div class="card-body bg-light p-0 m-0">
    <div class="col p-0 m-0">
      <div id="sousarticles">
        <%= render @sousarticles %>
      </div>
    </div>
  </div>



</div>
