 
<div class="card text-bg-dark mb-1 mx-auto" style="max-width: 56rem;">
  <div class="card-header bg-black"> <strong>Sous-articles</strong> </div>
    <div class="card-body">
      <div class="col border border-dark">
        <div id="sousarticles">
          <%= render @sousarticles %>
        </div>
      </div>
    </div>
  </div>
</div>