<div id="<%= dom_id sousarticle %>">

  <div class="cadre-interieur">
    <div class="row p-0 m-0">
      <div class="col-9 m-0 text-dark vertical-aligned">  
        <%= sousarticle.texte_record %>
      </div>

      <div class="col-3 p-0 m-0 text-end">
        <%= button_to "", edit_sousarticle_path(sousarticle, articleId: sousarticle.article_id), 
            class:"fa-regular fa-pen-to-square btn btn-sm btn-secondary", method: :post %> 

        <%= button_to '', sousarticle_path(sousarticle), 
            class:"fa-solid fa-trash-can btn btn-danger btn-sm", method: :delete %> 
      </div>
    </div>
  </div>

</div>
