 
<div class="bloc-record">

  <div id="sousarticles">
    <%= render @sousarticles %>
  </div>

  <div>
    <%= link_to "Auto", toggle_sousarticleauto_sousarticle_path(
         produitId: @produitId, commandeId: @commandeId, articleId: @articleId), 
         class:"btn btn-sm btn-primary me-1 mb-2" %> 
    <%= render "sousarticles/nouveauSousarticle" %>
  </div>

</div>