<div class="card bloc-dashboard">
  <div class="header-bloc-dashboard"> 
    <div class="row align-items-center m-0 p-0">
      <div class="col-2 m-0 p-0">
        <i class="fa iconcolor fa-user ms-1"></i>
      </div>
      <div class="col-6 format-titre-dashboard">
        <%= link_to "CLIENTS", clients_path, class:"format-titre-dashboard" %> 
      </div>

      <div class="col-4 text-end m-0 p-0">
        <div class="badge rounded-pill counter-model-dashboard"><%= Client.count %></div>
        <%= link_to "", new_client_path(), class:"fa fa-add add-dashboard btn btn-sm" %>
      </div>
    </div>
  </div>
  
  <div class="card-body body-bloc-dashboard"> 
    <table class="table bloc-table table-primary table-striped table-hover m-0 p-0">
      <tbody class="table-light table-dashboard">
        <% @clients.limit(5).order(updated_at: :desc).each do | client | %>
          <tr> 
            <td> 
              <%= link_to client.full_name, client_path(client), class:"text-dark crop", style:"text-decoration: none;" %> 
            </td>
          </tr> 
        <% end %>
      </tbody>
    </table>
  </div>

</div>