<div class="card bloc-dashboard">
  <div class="header-bloc-dashboard"> 

        <i class="fa iconcolor fa-gear mx-2"></i>LARGE 
         <span class="badge rounded-pill counter-model-dashboard"><%= Produit.count %></span>

  </div>
  <div class="card-body body-bloc-dashboard"> 
  content settings
  </div>

</div>