
<div class="container-fluid m-0 p-0 mt-1">
  <div class="row m-0 p-0">
    <div class="col-6 m-0 p-0">
      <%= render "blocClients" %>
    </div>
    <div class="col-6 m-0 p-0">
      <%= render "blocCommandes" %>
    </div>
  </div>

  <div class="row m-0 p-0">
    <div class="col-6 m-0 p-0">
      <div class="bloc-dashboard">
        <div class="bg-warning">
          bloc3
        </div>
      </div>
    </div>
    <div class="col-6 m-0 p-0">
      <div class="bloc-dashboard">
        <div class="bg-danger">
          bloc4
        </div>
      </div>
    </div>
  </div>

  <div class="row m-0 p-0">
    <div class="col-12 m-0 p-0">
      <div class="bloc-dashboard">
        <div class="bg-secondary">
          bloc5
        </div>
      </div>
    </div>
  </div>

</div>