
<div class="card m-4 mb-3 text-bg-dark text-center">
  <div class="card-header bg-dark border-black"> 
    <strong>Demande de connexion</strong> 
  </div>
  <div class="card-body">
    <div class="col border border-dark m-4">
      <% unless current_user.present? %>
        <%= link_to "Se connecter", new_user_session_path, class:"btn btn-outline-success m-4" %> 
        <%= link_to "Créer un compte", new_user_registration_path, class:"btn btn-outline-primary m-4" %>
      <% end %>
    </div>
  </div>
</div>