<h5 class="text-center"> Raccourcis </h5> <hr>

<div class="table-responsive">
  <table class="table table-dark text-center">
    <tr>
      <td>
        <%= link_to "Site Vitrine", root_path %>
      </td>
      <td>
        <%= link_to "Lien2", root_path %>
      </td>
    </tr>
    <tr>
      <td>
        <%= link_to "Lien3", root_path %>
      </td>
      <td>
        <%= link_to "Lien4", root_path %>
      </td>
    </tr>
  </table> 
</div>