
  <% if user_signed_in? %>
    <%#= render "search/form" %>
    <%#= render "search/index" %>
  <div class="m-2">
    <%= render "menuAccueilTer" %>
  </div>
    <%#= render "fonctionsRapides" %>
  <% else %>
  
   <div class="container-fluid">
      <%= render partial: "demandeConnexion" %>
    </div>
  <% end %>
