
<%# if user_signed_in? %>

    <div class="text-center">
    <h3> Dashboard </h3>
    </div>
    <hr>

    <%#= render "search/form" %>
    <%#= render "search/index" %>

    <%= render "menuAccueilBis" %>

    <%#= render "fonctionsRapides" %>

<%# else %>
  <%#= render partial: "demandeConnexion" %>
<%# end %>