
  <% if user_signed_in? %>
    <%#= render "search/form" %>
    <%#= render "search/index" %>

    <%#= render "menuAccueilTer" %>

  <div class="row">
    <div class="col-4 p-0 m-0">
      <%= render "shared/navbarDashboard" %>
    </div>
    <div class="col-8 p-0 m-0">
       <%= render "dashboard" %>
    </div>
  </div>


    <%#= render "fonctionsRapides" %>
  <% else %>
  
   <div class="container-fluid">
      <%= render partial: "demandeConnexion" %>
    </div>
  <% end %>
