
  <% if user_signed_in? %>

       <%= render "dashboard" %>

    <%#= render "fonctionsRapides" %>
  <% else %>
  
   <div class="container-fluid">
      <%= render partial: "demandeConnexion" %>
    </div>
  <% end %>
