
<div class="container container-principal">   
    <div class="bg-primary">
        body <hr>
        body <hr>
        body <hr>
        body <hr>
        body <hr>
        body <hr>
        body <hr>
        body <hr>
        body <hr>
        body <hr>
        body <hr>
        body <hr>
        body <hr>
        body <hr>
    </div>

    <div class="fixed-bottom bg-warning">
        footer
    </div>
</div>