/*
 *= require_tree .
 *= require_self
 */

html {
    height: 100%;
}

 body {
    background-color: rgb(50, 50, 50);
}

h1, h2, p, div, li, ul, a {
    color: rgb(255, 255, 255);
}

.btn-creer{
    background-color: green;
    color: rgb(255, 255, 255);
}

.btn-afficher{
    background-color: rgb(18, 30, 136);
    color: rgb(255, 255, 255);
}

.btn-retour{
    background-color: rgb(27, 27, 29);
    color: rgb(255, 255, 255);
}

.btn-supprimer{
    background-color: rgb(168, 50, 50);
    color: rgb(255, 255, 255);
}

.btn-editer{
    color:rgb(255, 255, 255);
    background-color: rgb(63, 57, 57);
    content: "\270f";
    font-family: 'Glyphicons Halflings';
}

.normal-text{
    border-left-width: 1px !important;
    font-size: 110% !important;
    color:rgb(255, 255, 255);
    background-color: rgb(63, 57, 57);
    font-family: 'Book Antiqua';
}

.normal-text::after{
    content: "\270f";
    font-family: 'Glyphicons Halflings';
}

.test-icon{
    border-left-width: 1px !important;
    font-size: 110% !important;
    color:rgb(255, 255, 255);
    background-color: rgb(168, 39, 39);
    font-family: 'Book Antiqua';
}

.test-icon::after{
   content: "\270f";
   /* font-family: 'Glyphicons Halflings'; */
}

#notice{
    background-color: green;
    color: white;
    padding: 6px;
    border-radius: 6px;
}

.with-shadow{
    box-shadow: 1px 1px 2px 2px rgb(78, 75, 75);
    color: black;
   /* text-align: center; */
    background-color: whitesmoke;
    padding-left: 20px;
    line-height: 40px;
    padding: .5em;
    border-radius: 1em;
}

.with-round{
    padding: 1.5em .5em .5em;
    border-radius: 4em;
    box-shadow: 0 5px 10px rgba(195, 191, 191, 0.2);
}

.a1soir-colored {
    color:rgb(255, 255, 255);
    background-color: rgb(204, 46, 102);
}


/* dashboard */

.navbar{
    padding: .5em;
    border-radius: .5em;
    box-shadow: 2px 3px 4px rgba(165, 163, 163, 0.8);
    margin: .5em;
    /*width: 25%;*/
    height: calc(100vh - 40px);
    width: (100vh - 0px);
  }

.bloc-dashboard{
    background-color: rgb(233, 228, 229);
    padding: .5em .5em .5em;
    border-radius: .5em;
    box-shadow: 2px 3px 4px rgba(165, 163, 163, 0.8);
    margin: 10px 10px 20px 10px; 
    /*max-width: 50%;*/
    height: calc(25vh - 25px);
  }

  .bloc-entete-model{
    background-color: rgb(233, 228, 229);
    padding: .2em;
    border-radius: .5em;
    box-shadow: 2px 3px 4px rgba(165, 163, 163, 0.8);
    margin: 10px 20px 10px 10px; 
  }

  .bloc-record{
    background-color: rgb(233, 228, 229);
    padding: .5em;
    border-radius: .5em;
    box-shadow: 2px 3px 4px rgba(165, 163, 163, 0.8);
    margin: 10px 10px 10px 10px; 

  }

  .bloc-large-dashboard{
    background-color: rgb(233, 228, 229);
    padding: .5em .5em .5em;
    border-radius: .5em;
    box-shadow: 2px 3px 4px rgba(165, 163, 163, 0.8);
    margin: 0px 10px 0px 10px;
    /*width: 25%;*/
    height: calc(25vh - 25px);

  }

  .fit-image{
    background-color: rgb(200, 193, 193);
    border-radius: 0.5em;
    padding: .5em;
    width: 100%;
  }

.navbar-item { 
    width:100%;
    padding: 0em;
    margin: 0.5em;
    text-align: center;
}
 
.iconcolor {
    color:rgb(222, 218, 218);
    font-size: 1.5em;
    
}

