/*

 *= require_tree .
 *= require_self
 */
 
 body {
    background-color: rgb(50, 50, 50);
 }


h1, h2, p, div, li, ul, a {
    color: rgb(255, 255, 255);
}

.btn-creer{
    background-color: green;
    color: rgb(255, 255, 255);
}

.btn-afficher{
    background-color: rgb(18, 30, 136);
    color: rgb(255, 255, 255);
}

.btn-retour{
    background-color: rgb(27, 27, 29);
    color: rgb(255, 255, 255);
}

.btn-supprimer{
    background-color: rgb(168, 50, 50);
    color: rgb(255, 255, 255);
}

.btn-editer{
    color:rgb(255, 255, 255);
    background-color: rgb(63, 57, 57);
    content: "\270f";
    font-family: 'Glyphicons Halflings';
 }


 .normal-text{
    border-left-width: 1px !important;
    font-size: 110% !important;
    color:rgb(255, 255, 255);
    background-color: rgb(63, 57, 57);
    font-family: 'Book Antiqua';
 }
 .normal-text::after{
    content: "\270f";
    font-family: 'Glyphicons Halflings';
 }


 .test-icon{
    border-left-width: 1px !important;
    font-size: 110% !important;
    color:rgb(255, 255, 255);
    background-color: rgb(168, 39, 39);
    font-family: 'Book Antiqua';
    
 }
 .test-icon::after{
    content: "\270f";
   /* font-family: 'Glyphicons Halflings'; */

 }


 #notice{
    background-color: green;
    color: white;
    padding: 6px;
    border-radius: 6px;
  }


  .with-shadow{
    box-shadow: 2px 2px 3px 3px rgb(78, 75, 75);
    color: black;
   /* text-align: center; */
    background-color: whitesmoke;
    padding-left: 20px;
    line-height: 40px;   
}

.rounded{
    padding: 1.5em .5em .5em;
    border-radius: 2em;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}