
.a1soir-colored {
  color: rgb(204, 46, 102);
}

.cadre {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(249, 237, 237);
  color: rgb(0, 0, 0);
}

.bloc-adresse-client {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(249, 237, 237);
  color: rgb(0, 0, 0);
  position: relative; 
  left: 280px;

}


h4{
  color: rgb(230, 106, 127);
  text-align: left;
  font-size: xx-large;
  font-weight: bold;
}

h5{
  background-color: rgb(230, 106, 127);
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  font-weight: bold;
  line-height: 30px;
}

div{
  color: black;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}

table{
  background-color: rgb(249, 237, 237);
  border-color: white;
}

th{
  font-family: Arial, Helvetica, sans-serif;
  background-color:  rgb(227, 148, 161);
  color: white;
  text-align: center;
  font-size: large;
  font-weight: bold;
}

td{
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(0, 0, 0);
  font-size: medium;
  vertical-align: middle;

}

.footer{
  background-color:  rgb(227, 148, 161);
  color: white;
  font-size: large;
  font-weight: bold;
}


