/*

 *= require_self
 */


html {
    height: 100%;
}

.container-fluid {
    justify-content: center;
    align-items: center;
}


h1, h2, p, div, li, ul, a {
    color: rgb(0, 0, 0);
}


.btn-circle.btn-xl {
    width: 100px;
    height: 100px;
    padding: 13px 18px;
    border-radius: 60px;
    font-size: 15px;
    text-align: center;
}

.btn-categorie {
    color:rgb(255, 255, 255);
    background-color: rgb(204, 46, 102);
    padding: .4em;
    border-radius: .4em;
    font-size: .8em;
    text-align: center;
    margin: .2em;
    display:inline-block;
}

.a1soir-colored {
    color:rgb(255, 255, 255);
    background-color: rgb(204, 46, 102);
}


.img-max {
    min-width: 20px;
    max-width: 30px;
  }

.img-big {
    min-width: 20px;
    max-width: 180px;
  }

.img-centered {
    text-align: center;
}

.verysmall-text {
    font-size: xx-small;
}

