/*

 *= require_self
 */


html {
    height: 100%;
}


.centered{
    justify-content: center;
    align-items: center;   
}
.container-fluid {
    justify-content: center;
    align-items: center;
}


h1, h2, p, div, li, ul, a {
    color: rgb(0, 0, 0);
}

.cadre-main{
    /* display: flex; */
     margin-top: 10px;
     align-items: center;
     justify-content: center;
     max-width: 900px;
     /*background-color: rgb(252, 248, 249);*/
     color:black;
     margin: .5em;
     padding: .5em;

     border-radius: 20px;
    background: #f0f0f0;
    box-shadow:  21px 21px 42px #606060,
             -21px -21px 42px #ffffff;
   }

.btn-circle.btn-xl {
    width: 100px;
    height: 100px;
    padding: 13px 18px;
    border-radius: 60px;
    font-size: 15px;
    text-align: center;
}

.btn-categorie {
    color:rgb(255, 255, 255);
    background-color: rgb(204, 46, 102);
    padding: .4em;
    border-radius: .4em;
    font-size: .8em;
    text-align: center;
    margin: .2em;
    display:inline-block;
    font-weight: bold;
    font-size: medium;

}

.btn-categorie-large {
    color:rgb(0, 0, 0);
  /*  background-color: rgb(204, 46, 102);*/
    padding: .4em;
    border-radius: .4em;
    font-size: .8em;
    text-align: center;
    margin: .2em;
    display:inline-block;
    font-weight: bold;
    font-size: large;

}

.a1soir-colored {
    color:rgb(255, 255, 255);
    background-color: rgb(204, 46, 102);
}

.link-accueil{
    font-size: medium;
    font-weight: bold;
    color: rgb(204, 46, 102);
}

.img-max {

    max-width: 3em;
  }

.img-big {
   /* min-width: 20px;*/
    max-width: 20em;
  }

.img-centered {
    text-align: center;
}

.verysmall-text {
    font-size: xx-small;
}

