<div id="<%= dom_id paiement %>">
  <p>
    <strong>Type:</strong>
    <%= paiement.typepaiement %>
  </p>

  <p>
    <strong>Montant:</strong>
    <%= paiement.montant %>
  </p>

  <p>
    <strong>Commande:</strong>
    <%= paiement.commande_id %>
  </p>

</div>
