<h1>Commande#commande_created</h1>

<%= @user.email %> create <%= @commande.id %>

<%= image_tag attachments['logo1.png'].url %>
<br>  

<p>
  <%= @greeting %>, find me in app/views/commande_mailer/commande_created.html.erb
</p>
