 
<div class="container m-0 p-0">
  <%= render partial: "accueil/reseaux" %>
</div>

<div class="container m-0 p-0">
    <table class="table table-responsive m-0 p-0">
      <td class="text-center"> 
        <%= link_to "Boutique", "boutique", class:"btn btn-sm a1soir-colored" %>  
     </td>
    <td class="text-center"> 
        <small class="verysmall-text">Copyright Autour d’un soir</small>
     </td>
    <td class="text-center"> 
      <%= link_to "admin", "/accueil_admin", class:"btn btn-sm btn-outline-dark" %>
     </td>
  </table>
</div>


