 
<div class="container">
  <%= render partial: "accueil/reseaux" %>
</div>

<div class="container">
    <table class="table table-responsive">
      <td class="text-center"> 
        <%= link_to "Boutique", "boutique", class:"btn btn-sm", style:"color: white; background-color: rgb(204, 46, 102);" %>  
     </td>
    <td class="text-center"> 
        <small class="verysmall-text">Copyright Autour d’un soir</small>
     </td>
    <td class="text-center"> 
      <%= link_to "admin", "/accueil_admin", class:"btn btn-sm btn-outline-dark" %>
     </td>
  </table>
</div>