
    <table class="table table-responsive m-0 p-0">
      <td class="text-center align-middle"> 
        <%= link_to(image_tag("icons/pinterest_icon.png", border: 0, width: 30), "https://www.pinterest.fr/autourdunsoir/") %> 
      </td>
      <td class="text-center align-middle">  
        <%= link_to(image_tag("icons/fb_icon.png", border: 0, width: 30), "https://www.facebook.com/AutourDunSoir/") %> 
      </td>
      <td class="text-center align-middle">
        <%= link_to(image_tag("icons/insta_icon.png", border: 0, width: 30), "https://www.instagram.com/autourdunsoir/") %> 
      </td>
    </table>
