
<h5> AUTOUR D’UN SOIR </h5>

<%# renvoi valeur depuis Model Texte edité par admin %>
<div> 
  <%= Texte.last.contact %>
</div>
<br>

<div  class="text-center">  
    <%= render "accueil/map" %> 
 </div>
<br>


