<h5>Robes de mariees</h5>

<div>
  <% if @label.present? %> <%# message label paramétré par user %>
    <hr> <th>  <%= render "labelPrincipale" %></th>   
  <% end %>
</div>

<%= render partial: "listeProduits" %>



