<!DOCTYPE html>
<html>
  <head>
    <%# <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> %>

    
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <meta http-equiv="Content-Security-Policy" content="default-src 'self'">

    <%= csrf_meta_tags %>


    <style>
      /* Email styles need to be inline */
      body {      
        color: black; 
        font-family: Arial; 
        font-size: 14px; 
        font-weight: normal;
      }
    </style>
  </head>

  <body>
    <%= yield %>

    <br>
    <p> 
      Autour d'un Soir <br>
      27, 29 Boulevard Carnot <br>
      06400 CANNES 
    </p>

    <p> 
      04 93 45 17 17  <br>
      06 82 13 55 43 <br>
      contact@a1soir.com 
    </p>
    <p>
     <%= image_tag(attachments['logo1.png'].url) %>
    </p>

  </body>
</html>
